Repository fuww/top200-rs: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, test, deny

lefthook.yml:

# Lefthook configuration for top200-rs
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: nix develop --command cargo fmt --all -- --check
      fail_text: "Rust formatting issues found. Run 'cargo fmt --all' to fix."
    
    clippy:
      glob: "*.rs"
      run: nix develop --command cargo clippy -- -D warnings
      fail_text: "Clippy warnings found. Fix the issues before committing."
    
    test:
      glob: "*.rs"
      run: nix develop --command cargo test
      fail_text: "Tests failed. Fix the failing tests before committing."
    
    deny:
      glob: "*.lock"
      run: nix develop --command cargo deny check
      fail_text: "Dependency or license issues found. Check cargo-deny output."

pre-push:
  parallel: false
  commands:
#    test-all:
#      run: nix develop --command cargo test --all
#      fail_text: "All tests must pass before pushing."
    
#    build:
#      run: nix develop --command cargo build --release
#      fail_text: "Release build failed. Fix build issues before pushing."

# Skip hooks configuration
skip_output:
  - meta
  - summary

Use original currency for market cap comparisons (#68)
  src/advanced_comparisons.rs
  src/compare_marketcaps.rs
  src/main.rs
Due: fmt, clippy, test

Update Claude workflow permissions and actions
  .github/workflows/claude.yml
Due: none

Enhance Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Fix bugs in compare_marketcaps markdown report
  src/compare_marketcaps.rs
Due: fmt, clippy, test

Add comprehensive unit tests across multiple modules
  src/api.rs
  src/compare_marketcaps.rs
  src/currencies.rs
  src/exchange_rates.rs
  src/historical_marketcaps.rs
  src/monthly_historical_marketcaps.rs
Due: fmt, clippy, test

Add web interface Phase 1: Basic Axum server with Tailwind CSS
  .claude/settings.local.json
  .idea/copilot.data.migration.agent.xml
  .idea/workspace.xml
  Cargo.lock
  Cargo.toml
  input.css
  package.json
  pnpm-lock.yaml
  src/compare_marketcaps.rs
  src/config.rs
  src/main.rs
  src/web/mod.rs
  src/web/routes/mod.rs
  src/web/routes/pages.rs
  src/web/server.rs
  src/web/state.rs
  static/css/output.css
  tailwind.config.js
  templates/base.html
  templates/dashboard.html
Due: fmt, clippy, test, deny

Add web interface Phase 2: WorkOS authentication with JWT
  .claude/settings.local.json
  .env.example
  .idea/workspace.xml
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/web/middleware/auth.rs
  src/web/middleware/mod.rs
  src/web/middleware/roles.rs
  src/web/mod.rs
  src/web/models/auth.rs
  src/web/models/mod.rs
  src/web/routes/api.rs
  src/web/routes/auth.rs
  src/web/server.rs
  src/web/state.rs
  src/web/utils.rs
  templates/login.html
Due: fmt, clippy, test, deny

feat(web): implement Phase 4 - view market cap snapshots
  .idea/workspace.xml
  src/main.rs
  src/web/middleware/roles.rs
  src/web/routes/api.rs
  src/web/routes/auth.rs
  src/web/routes/mod.rs
  src/web/routes/pages.rs
  src/web/server.rs
  src/web/state.rs
  src/web/utils.rs
  templates/comparisons/list.html
  templates/comparisons/view.html
  templates/market_caps/list.html
  templates/market_caps/view.html
Due: fmt, clippy, test

Code checkpoint - 2025-12-05 09:21:23 (session: unknown)
  WEB_INTERFACE_PLAN.md
Due: none

docs: add comprehensive status summary to web interface plan
  .idea/workspace.xml
  WEB_INTERFACE_PLAN.md
Due: none

feat(web): implement Phases 5 & 6 - on-demand data generation with SSE
  .idea/top200-rs.iml
  .idea/workspace.xml
  src/web/routes/mod.rs
  src/web/routes/pages.rs
  src/web/routes/sse.rs
  src/web/server.rs
  templates/comparisons/new.html
  templates/market_caps/fetch.html
Due: fmt, clippy, test

test(web): add comprehensive integration tests for web interface
  .idea/workspace.xml
  tests/web_integration_test.rs
Due: fmt, clippy, test

Code checkpoint - 2025-12-05 17:26:54 (session: unknown)
  .idea/workspace.xml
Due: none

Code checkpoint - 2025-12-05 20:49:17 (session: unknown)
  .idea/workspace.xml
  static/css/output.css
Due: none

Code checkpoint - 2025-12-05 21:08:42 (session: unknown)
  .idea/workspace.xml
  data.db
  src/web/routes/sse.rs
  templates/market_caps/fetch.html
Due: fmt, clippy, test

Code checkpoint - 2025-12-05 20:54:06 (session: unknown)
  .idea/workspace.xml
  src/web/routes/sse.rs
Due: fmt, clippy, test

Code checkpoint - 2025-12-05 21:02:06 (session: unknown)
  .idea/workspace.xml
  data.db
  static/favicon.svg
  templates/base.html
Due: none

Code checkpoint - 2025-12-05 17:51:09 (session: unknown)
  .idea/workspace.xml
  Cargo.lock
  Cargo.toml
  src/web/routes/sse.rs
Due: fmt, clippy, test, deny

Code checkpoint - 2025-12-05 21:26:16 (session: unknown)
  .idea/workspace.xml
  data.db
  src/web/utils.rs
Due: fmt, clippy, test

fix(web): correct filename parsing for market cap and comparison views
  .idea/workspace.xml
  data.db
Due: none

Code checkpoint - 2025-12-05 21:16:02 (session: unknown)
  .idea/workspace.xml
  data.db
  src/web/routes/sse.rs
  src/web/utils.rs
  tests/web_integration_test.rs
Due: fmt, clippy, test

Code checkpoint - 2025-12-05 22:34:47 (session: unknown)
  .claude/settings.local.json
  .idea/workspace.xml
  .mcp.json
Due: none

Code checkpoint - 2025-12-05 23:17:08 (session: unknown)
  src/web/routes/sse.rs
Due: fmt, clippy, test

Code checkpoint - 2025-12-05 23:04:37 (session: unknown)
  .idea/workspace.xml
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/nats/client.rs
  src/nats/jobs.rs
  src/nats/mod.rs
  src/nats/models.rs
  src/nats/streams.rs
  src/nats/worker.rs
  src/web/state.rs
Due: fmt, clippy, test, deny

feat(nats): complete Phase 3 - add job management API endpoints
  .idea/workspace.xml
  CLAUDE.md
  src/web/routes/api.rs
  src/web/routes/sse.rs
  src/web/server.rs
Due: fmt, clippy, test

merge
  .gitignore
  .idea/workspace.xml
Due: none

feat(tests): add test infrastructure and utilities
  Cargo.lock
  Cargo.toml
  tests/common/mod.rs
  tests/fixtures/invalid_rates.json
  tests/fixtures/sample_fmp_response.json
  tests/fixtures/sample_marketcaps.json
  tests/fixtures/sample_rates.json
  tests/test_common.rs
Due: fmt, clippy, test, deny

feat(tests): add test infrastructure and utilities (#70)
  Cargo.lock
  Cargo.toml
  tests/common/mod.rs
  tests/fixtures/invalid_rates.json
  tests/fixtures/sample_fmp_response.json
  tests/fixtures/sample_marketcaps.json
  tests/fixtures/sample_rates.json
  tests/test_common.rs
Due: fmt, clippy, test, deny

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#71)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat(tests): add comprehensive test suite phases 1-4
  src/currencies.rs
  src/nats/jobs.rs
  src/nats/mod.rs
  src/nats/models.rs
  src/nats/streams.rs
  src/nats/worker.rs
  tests/common/mod.rs
  tests/test_common.rs
  tests/test_csv_comparison.rs
  tests/test_visualizations.rs
Due: fmt, clippy, test

Checkpoint before follow-up message
  Cargo.lock
  Cargo.toml
Due: deny

Checkpoint before follow-up message
  Cargo.toml
Due: none

Refactor: Update dependencies and improve NATS job handling
  Cargo.lock
  Cargo.toml
  src/advanced_comparisons.rs
  src/compare_marketcaps.rs
  src/currencies.rs
  src/db.rs
  src/main.rs
  src/nats/jobs.rs
  src/nats/mod.rs
  src/nats/models.rs
  src/nats/streams.rs
  src/nats/worker.rs
  src/visualizations.rs
  src/web/middleware/auth.rs
  src/web/middleware/roles.rs
  src/web/routes/auth.rs
  src/web/routes/sse.rs
  src/web/server.rs
  tests/common/mod.rs
  tests/test_common.rs
Due: fmt, clippy, test, deny

chore: update Rust to 1.92.0 (latest stable)
  flake.lock
Due: deny
